@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  max-width: 1280px;
  margin: auto;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.025em;
}
nav {
  padding: 1rem;
  border-bottom: 1px solid;
  border-color: #e1e7f0;
  display: flex;
  justify-content: space-between;
  gap: 50vw;
}
nav .nav-text {
  font-size: 1.5rem;
  font-weight: 600;
}
.message-off {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}
.input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem auto;
  border: 1px solid;
  border-color: #e1e7f0;
  box-shadow: 0px 8px 8px #00000029;
}
.input-field {
  border: 0;
  width: 90%;
}
.input-field:focus {
  outline: none;
}
.chat-box {
  border: 1px solid;
  border-color: #e1e7f0;
  margin: 1rem 0;
  border-radius: 0.75rem;
  overflow-y: scroll;
  height: 55vh;
  box-shadow: 0px 8px 8px #00000029;
}
.chat-view {
  display: flex;
  background-color: #f5f5f5;
  padding: 1rem;
  gap: 1rem;
}
.chat-image {
  width: 2rem;
}
.image-bot {
  width: 2rem;
}
.chat-text {
  width: 100%;
}
.footer {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 2rem 1rem;
  gap: 1rem;
}
.button-submit {
  position: relative;
  border: 0;
  background-color: white;
  color: #f5f5f5;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #292929;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.message p {
  margin: 0;
}

.user-message {
  background-color: #004a80;
  align-self: flex-end;
}

.answer-message {
  background-color: #006600;
}

.source-message {
  background-color: #003366;
}

.message a {
  color: #ffffff;
  text-decoration: none;
}

.input-container {
  display: flex;
  margin-top: 20px;
}

.input-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.input-container button {
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
